@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <p>@Html.ActionLink("Questionnaire", "Index", "Questionnaire")</p>
    <p>@Html.ActionLink("Questionnaire (Angular)", "Angular", "Questionnaire")</p>
</div>
</body>
</html>
